{
  "kind": "Ingress",
  "apiVersion": "extensions/v1beta1",
  "metadata": {
    "name": "{{ ingress_name }}",
    "namespace": "{{ namespace }}",
    "selfLink": "/apis/extensions/v1beta1/namespaces/{{ namespace }}/ingresses/{{ ingress_name }}",
    "annotations": {
      "kubernetes.io/ingress.class": ""
    }
  },
  "spec": {
    {% if secret_name %}
    "tls": [
      {
        "hosts": [
          "{{ host }}"
        ],
        "secretName": "{{ secret_name }}"
      }
    ],
    {% endif %}

    "rules": [
      {% if ruledata == '无数据' %}
          {}
      {% endif %}
      {% if ruledata == '一组数据' or ruledata == '多组数据' %}
      {
          {% if host %}
        "host": "{{ host }}",
          {% endif %}
          {% if service_name %}
        "http": {
          "paths": [
            {
              "path": "/a1",
              "backend": {
                "serviceName": "{{ service_name }}",
                "servicePort": 1
              }
            }
          ]
        }
          {% endif %}
      },
      {% endif %}
      {% if ruledata == '多组数据' %}
      {
          {% if host2 %}
        "host": "{{ host2 }}",
          {% endif %}
          {% if service_name2 %}
        "http": {
          "paths": [
            {
              "path": "/a2",
              "backend": {
                "serviceName": "{{ service_name2 }}",
                "servicePort": 2
              }
            }
          ]
        }
          {% endif %}
      },
      {% endif %}
    ]
  }
}