apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  annotations:
     resource.{{ default_label }}/description: {{ description }}
  namespace: {{ K8S_NAMESPACE }}
type: {{ secret_type }}
{% if data == "null" %}
data: {}
{% else %}
data:
{%- if secret_type == "kubernetes.io/tls" %}
    {% if tls_crt == "null" %}
    {% else  %}
        tls.crt: {{ tls_crt }}
        {% endif %}
        {% if tls_key == "null" %}
        {% else %}
        tls.key: {{ tls_key }}
        {% endif %}
{% elif secret_type == "Opaque"  and description != "多组数据" %}
{% if opaque_key == "null" %}
    "": {{ opaque_value }}
{% else %}
    {{ opaque_key }}: {{ opaque_value }}
{% endif %}
{% elif secret_type == "kubernetes.io/ssh-auth" %}
    ssh-privatekey: {{ ssh_privatevalue }}
{% elif secret_type == "kubernetes.io/basic-auth" %}
    password: {{ password }}
    username: {{ username }}
{% elif secret_type == "kubernetes.io/dockerconfigjson" %}
    {% if dockerconfigjson == "null" %}
    .dockerconfigjson: ""
    {% else %}
    .dockerconfigjson: {{ dockerconfigjson }}
    {% endif %}
    {% elif description == "多组数据" and secret_type == "Opaque" %}
    {{ opaque_key }}: {{ opaque_value }}
    key: {{ opaque_value }}
{%- endif %}
{% endif %}