{
"kind": "Status",
"apiVersion": "v1",
"metadata": {},
"status": "Failure",
"message": "{{ message }}",
"reason": "{{ reason }}",
{% if details %}
    "details": {
    {% if secret_name %}
        "name": "{{ secret_name }}",
    {% endif %}
    "kind": "{{ kind_2|default("Secret") }}",
    {% if causes %}
        "causes": [
        {
        "reason": "{{ reason_2 }}",
        "message": "{{ message_2 }}",
        "field": "{{ field }}"
        }
        {% if reason_3 %}
            ,{
            "reason": "{{ reason_3 }}",
            "message": "{{ message_3 }}",
            "field": "{{ field_3 }}"
            }
            {% endif %}
        ]
    {% endif %}
    },
{% else %}
{% endif %}
"code": {{ status_code|default(422) }}
}