{
  "kind": "Secret",
  "apiVersion": "v1",
  "metadata": {
    "name": "{{ secret_name }}",
    "namespace": "{{ K8S_NAMESPACE }}",
    "selfLink": "/api/v1/namespaces/{{ K8S_NAMESPACE }}/secrets/{{ secret_name }}",
    "annotations": {
      "resource.{{ default_label }}/description": "{{ description }}"
    }
  },
  "data": {
{%- if secret_type == "kubernetes.io/tls" %}
    "tls.crt": "{{ tls_crt }}",
    "tls.key": "{{ tls_key }}"
{%- elif secret_type == "Opaque"  and description != "多组数据" %}
    "{{ opaque_key }}": "{{ opaque_value }}"
{%- elif secret_type == "kubernetes.io/ssh-auth" %}
    "ssh-privatekey": "{{ ssh_privatevalue }}"
{%- elif secret_type == "kubernetes.io/basic-auth" %}
    "password": "{{ password }}",
    "username": "{{ username }}"
{%- elif secret_type == "kubernetes.io/dockerconfigjson" %}
    ".dockerconfigjson": "{{ dockerconfigjson }}"
{%- elif description == "多组数据" and secret_type == "Opaque" %}
    "{{ opaque_key }}": "{{ opaque_value }}",
    "key": "{{ opaque_value }}"
{%- endif %}
},
  "type": "{{ secret_type }}"
}

