{
    "apiVersion": "v1",
    "items": [
        {
            "apiVersion": "v1",
            "data": {},
            "kind": "Secret",
            "metadata": {
                "annotations": {
                },
                "name": "{{ secret_name }}",
                "namespace": "{{ K8S_NAMESPACE }}",
                "selfLink": "/api/v1/namespaces/{{ K8S_NAMESPACE }}/secrets/{{ secret_name }}",
            },
            "type": "Opaque"
        }
    ],
    "kind": "SecretList",
    "metadata": {
        "continue": ""
    }
}