{
    "apiVersion": "v1",
    "items": [
        {
            "apiVersion": "v1",
            "data": {
            },
            "kind": "ConfigMap",
            "metadata": {
                "name": "{{ configmap_name }}",
                "namespace": "{{ namespace }}",
                "selfLink": "/api/v1/namespaces/{{ namespace }}/configmaps/{{ configmap_name }}",
            }
        }
    ],
    "kind": "ConfigMapList",
    "metadata": {
        "continue": ""
    }
}